/* Roboto-Bold */

@font-face {
    font-family: Roboto;
    src: url('/fonts/Roboto-Bold/Roboto-Bold.eot?#iefix') format('embedded-opentype'),
        url('/fonts/Roboto-Bold/Roboto-Bold.woff') format('woff'),
        url('/fonts/Roboto-Bold/Roboto-Bold.ttf') format('truetype'),
        url('/fonts/Roboto-Bold/Roboto-Bold.svg#Roboto-Bold') format('svg');
    font-weight: 700;
}

/* Roboto-Medium */

@font-face {
    font-family: Roboto;
    src: url('/fonts/Roboto-Medium/Roboto-Medium.eot?#iefix') format('embedded-opentype'),
    url('/fonts/Roboto-Medium/Roboto-Medium.woff') format('woff'),
    url('/fonts/Roboto-Medium/Roboto-Medium.ttf') format('truetype'),
    url('/fonts/Roboto-Medium/Roboto-Medium.svg#Roboto-Medium') format('svg');
    font-weight: 500;
}

/* Roboto-Regular */

@font-face {
    font-family: Roboto;
    src: url('/fonts/Roboto-Regular/Roboto-Regular.eot?#iefix') format('embedded-opentype'),
    url('/fonts/Roboto-Regular/Roboto-Regular.woff') format('woff'),
    url('/fonts/Roboto-Regular/Roboto-Regular.ttf') format('truetype'),
    url('/fonts/Roboto-Regular/Roboto-Regular.svg#Roboto-Regular') format('svg');
    font-weight: 400;
}

/* Roboto-Light */

@font-face {
    font-family: Roboto;
    src: url('/fonts/Roboto-Light/Roboto-Light.eot?#iefix') format('embedded-opentype'),
    url('/fonts/Roboto-Light/Roboto-Light.woff') format('woff'),
    url('/fonts/Roboto-Light/Roboto-Light.ttf') format('truetype'),
    url('/fonts/Roboto-Light/Roboto-Light.svg#Roboto-Light') format('svg');
    font-weight: 300;
}