@import url(bootstrap.min.css);
@import url(fonts.css);
ul, ol {
  padding: 0;
  margin: 0; }

* {
  outline: 0 !important; }

li {
  list-style-type: none; }

h1, h2, h3, h4, p, .h1, .h2, .h3, .h4 {
  line-height: normal;
  margin: 0;
  padding: 0; }

html {
  height: 100%; }

a, a:hover, a:focus, a:active {
  text-decoration: none; }

body {
  line-height: normal;
  color: #1c1c1c;
  height: 100%;
  background-color: #ffffff;
  font-family: Roboto;
  font-size: 0; }

.container {
  width: 1200px;
  max-width: 1200px; }

.wrapper {
  display: flex;
  flex-direction: column;
  height: 100%; }

.content {
  flex: 1 0 auto; }

.header_index {
  background: url("/images/zvez.jpg") center center no-repeat;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
  overflow: hidden;
  height: 100vh; }

.x2 {
  -webkit-animation: movehed 50s linear infinite;
  -moz-animation: movehed 50s linear infinite;
  -o-animation: movehed 50s linear infinite; }

@-webkit-keyframes movehed {
  0% {
    margin-right: 0px; }
  100% {
    margin-right: -1000px; } }
@-moz-keyframes movehed {
  0% {
    margin-right: 0px; }
  100% {
    margin-right: -1000px; } }
@-o-keyframes movehed {
  0% {
    margin-right: 0px; }
  100% {
    margin-right: -1000px; } }
.cloud {
  background: url("/images/obl.png") center center no-repeat;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
  height: 100vh; }

.x1 {
  -webkit-animation: moveclouds 50s linear infinite;
  -moz-animation: moveclouds 50s linear infinite;
  -o-animation: moveclouds 50s linear infinite; }

@-webkit-keyframes moveclouds {
  0% {
    margin-left: 0px; }
  100% {
    margin-left: -1000px; } }
@-moz-keyframes moveclouds {
  0% {
    margin-left: 0px; }
  100% {
    margin-left: -1000px; } }
@-o-keyframes moveclouds {
  0% {
    margin-left: 0px; }
  100% {
    margin-left: -1000px; } }
.gory {
  background: url("/images/gory.png") center top 46vh no-repeat;
  height: 100vh;
  text-align: center; }

header ul {
  display: inline-block; }
  header ul li {
    display: inline-block; }
    header ul li a {
      display: block;
      text-decoration: none;
      color: #1c1c1c;
      font-size: 14px;
      text-transform: uppercase;
      font-weight: 700;
      padding: 25px 19px;
      text-align: center;
      -webkit-transition: 0.5s all;
      -moz-transition: 0.5s all;
      -o-transition: 0.5s all;
      transition: 0.5s all; }
      header ul li a:hover {
        color: #00ff00; }
    header ul li .active {
      color: #00ff00; }
header .left_part {
  float: left;
  display: inline-block; }
header .right_part {
  float: right;
  display: inline-block; }
header a.logo {
  display: block;
  margin: 0 auto;
  width: 300px;
  height: 70px;
  padding: 11px 0; }
  header a.logo img {
    max-width: 100%;
    max-height: 100%; }

header.header_index ul li a {
  color: #ffffff; }
  header.header_index ul li a:hover {
    color: #00ff00; }
  header.header_index ul li a .active {
    color: #00ff00; }

p.main_title {
  color: #ffffff;
  font-size: 50px;
  padding-top: 100px;
  font-weight: 300; }

a.main_btn {
  display: inline-block;
  font-weight: 700;
  color: #ffffff;
  font-size: 16px;
  text-transform: uppercase;
  padding: 10px 30px;
  border: 2px solid #ffffff;
  border-radius: 25px;
  text-decoration: none;
  -webkit-transition: 0.5s all;
  -moz-transition: 0.5s all;
  -o-transition: 0.5s all;
  transition: 0.5s all; }
  a.main_btn:hover {
    background-color: #ffffff;
    color: #1c1c1c; }

.text {
  text-align: left; }
  .text p {
    color: #1c1c1c;
    font-size: 16px;
    line-height: 25px;
    padding: 7px 0; }
  .text ul {
    padding: 0 20px; }
    .text ul li {
      list-style-type: circle;
      color: #1c1c1c;
      font-size: 16px;
      line-height: 20px;
      padding: 7px 0; }
  .text ol {
    padding: 0 20px; }
    .text ol li {
      list-style-type: decimal;
      color: #1c1c1c;
      font-size: 16px;
      line-height: 20px;
      padding: 7px 0; }

p.title {
  color: #ffffff;
  font-size: 50px;
  padding: 50px;
  font-weight: 700;
  text-transform: uppercase;
  text-align: center; }

.buttons {
  margin-top: 90px;
  text-align: center;
  font-size: 0; }
  .buttons a.main_btn {
    margin-right: 40px; }
    .buttons a.main_btn:last-child {
      margin-right: 0; }

.rates {
  background-color: #113065;
  text-align: center; }
  .rates .rates_block {
    padding: 10px 0 70px;
    font-size: 0; }
    .rates .rates_block .rate {
      display: inline-block;
      width: 250px;
      height: 250px;
      border-radius: 200px;
      background-color: #35a440;
      border: 5px solid #ffffff;
      margin-right: 20px;
      margin-bottom: 40px; }
      .rates .rates_block .rate p.percent {
        font-size: 50px;
        color: #ffffff;
        padding: 25px 0 15px;
        font-weight: 700; }
      .rates .rates_block .rate b {
        display: block;
        color: #ffffff;
        font-size: 22px;
        font-weight: 400; }
        .rates .rates_block .rate b svg {
          fill: #ffffff; }
      .rates .rates_block .rate i {
        display: block;
        color: #ffffff;
        font-style: normal;
        font-size: 18px;
        padding: 5px 0; }
      .rates .rates_block .rate span.to {
        color: #ffffff;
        display: block;
        font-size: 16px;
        padding: 20px 0; }
      .rates .rates_block .rate:last-child {
        margin-right: 0; }
    .rates .rates_block .buttons {
      margin-top: 30px; }
      .rates .rates_block .buttons .main_btn {
        display: inline-block; }

.advantages {
  background-color: #48afae;
  text-align: center;
  padding-bottom: 30px; }
  .advantages .adv_img {
    width: 600px;
    height: 400px; }
  .advantages .adv {
    margin: 30px 0; }
    .advantages .adv b {
      display: block;
      color: #ffffff;
      font-size: 20px;
      text-transform: uppercase;
      font-weight: 300;
      padding: 0 0 15px; }
    .advantages .adv svg {
      width: 50px;
      height: 50px;
      fill: #ffffff; }

.about_us {
  background-color: #48afae;
  text-align: center;
  padding-bottom: 20px; }
  .about_us .text {
    padding-bottom: 50px; }
    .about_us .text p {
      color: #ffffff;
      font-size: 16px;
      line-height: 20px;
      padding: 7px 0; }
  .about_us .how_it__work {
    padding: 50px 0; }
    .about_us .how_it__work p {
      font-weight: 700;
      color: #ffffff;
      font-size: 30px;
      text-align: center;
      padding-bottom: 50px; }
    .about_us .how_it__work .how_item {
      display: inline-block;
      width: 230px; }
      .about_us .how_it__work .how_item b {
        display: block;
        color: #ffffff;
        font-size: 20px;
        text-transform: uppercase;
        font-weight: 300;
        padding: 0 0 30px; }
      .about_us .how_it__work .how_item svg {
        width: 50px;
        height: 50px;
        fill: #ffffff; }

.statistics {
  background: #113065 url("/images/index_bottom__bg.png") no-repeat center -100%;
  text-align: center;
  font-size: 0; }
  .statistics .stat_item {
    display: inline-block;
    width: 280px;
    vertical-align: top;
    padding-bottom: 50px; }
    .statistics .stat_item p {
      color: #ffffff;
      font-size: 18px;
      font-weight: 400;
      padding-bottom: 30px; }
    .statistics .stat_item .circle {
      display: inline-block;
      width: 150px;
      height: 150px;
      border-radius: 100px;
      background-color: #35a440;
      border: 5px solid #ffffff;
      margin-bottom: 15px; }
      .statistics .stat_item .circle svg {
        width: 70px;
        height: 70px;
        fill: #ffffff;
        margin: 35px auto; }
    .statistics .stat_item b {
      display: block;
      font-weight: 400;
      font-size: 20px;
      color: #ffffff; }
      .statistics .stat_item b svg {
        fill: #ffffff;
        width: 14px;
        height: 14px; }
  .statistics .buttons {
    margin-top: 30px; }
  .statistics .stat_tables {
    padding: 250px 0 50px; }
    .statistics .stat_tables .stat_table__item {
      display: inline-block;
      width: 300px;
      margin-right: 30px; }
      .statistics .stat_tables .stat_table__item p.table_caption {
        color: #ffffff;
        font-size: 18px;
        font-weight: 400;
        padding-bottom: 30px; }
      .statistics .stat_tables .stat_table__item table {
        width: 100%;
        text-align: center;
        background-color: rgba(0, 0, 0, 0.2);
        border-collapse: collapse; }
        .statistics .stat_tables .stat_table__item table tr td {
          font-size: 16px;
          color: #ffffff;
          font-weight: 400;
          border: 1px solid #cecece;
          padding: 5px 0; }
          .statistics .stat_tables .stat_table__item table tr td svg {
            width: 11px;
            height: 11px;
            fill: #ffffff; }
      .statistics .stat_tables .stat_table__item:last-child {
        margin-right: 0; }

footer {
  flex: 0 0 auto; }
  footer .footer_upper {
    padding: 20px 0;
    background-color: #1c1c1c; }
    footer .footer_upper .payment_systems {
      border-bottom: 1px solid #cccccc;
      padding-bottom: 20px;
      text-align: center; }
      footer .footer_upper .payment_systems a {
        display: inline-block; }
        footer .footer_upper .payment_systems a svg {
          width: 100px;
          height: 50px;
          fill: #cccccc;
          opacity: 1;
          -webkit-transition: 0.3s all;
          -moz-transition: 0.3s all;
          -o-transition: 0.3s all;
          transition: 0.3s all; }
        footer .footer_upper .payment_systems a:hover svg {
          opacity: 0.7; }
    footer .footer_upper .footer_logo {
      padding: 20px 0 0 10px;
      display: block; }
    footer .footer_upper .social {
      padding: 30px 0 0; }
      footer .footer_upper .social p {
        display: inline-block;
        margin-right: 15px; }
        footer .footer_upper .social p b {
          display: inline-block;
          font-size: 16px;
          font-weight: 300;
          color: #ffffff;
          vertical-align: top; }
        footer .footer_upper .social p svg {
          width: 25px;
          height: 25px;
          fill: #cccccc;
          margin-right: 15px; }
      footer .footer_upper .social a {
        display: inline-block;
        width: 25px;
        height: 25px;
        margin-right: 20px; }
        footer .footer_upper .social a svg {
          width: 25px;
          height: 25px;
          fill: #cccccc;
          opacity: 1;
          -webkit-transition: 0.3s all;
          -moz-transition: 0.3s all;
          -o-transition: 0.3s all;
          transition: 0.3s all; }
        footer .footer_upper .social a:last-child {
          margin-right: 0; }
        footer .footer_upper .social a:hover svg {
          opacity: 0.7; }
  footer .footer_downer {
    background-color: #2e2c35;
    padding: 15px 0; }
    footer .footer_downer p.copyright {
      color: #cccccc;
      font-size: 13px;
      text-align: center; }

.page_name {
  background: url("/images/zvez.jpg");
  text-align: center;
  -webkit-background-size: cover;
  background-size: cover;
  overflow: hidden; }

.page {
  padding: 70px 0;
  text-align: center; }
  .page .faq_item {
    margin: 15px 0 0 0;
    border: 1px solid #cccccc;
    background-color: #ffffff;
    -moz-box-shadow: 0 0 21px rgba(0, 0, 0, 0.07);
    -webkit-box-shadow: 0 0 21px rgba(0, 0, 0, 0.07);
    box-shadow: 0 0 21px rgba(0, 0, 0, 0.07); }
    .page .faq_item a {
      display: block;
      text-align: left;
      padding-left: 45px;
      vertical-align: top;
      line-height: 30px;
      color: #1c1c1c;
      font-size: 14px;
      font-weight: 400;
      position: relative;
      border-bottom: 1px solid #cccccc;
      background-color: #ffffff;
      -moz-box-shadow: 0 0 21px rgba(0, 0, 0, 0.07);
      -webkit-box-shadow: 0 0 21px rgba(0, 0, 0, 0.07);
      box-shadow: 0 0 21px rgba(0, 0, 0, 0.07); }
      .page .faq_item a:before {
        position: absolute;
        content: attr(data-before);
        top: 0;
        left: 0;
        width: 30px;
        height: 30px;
        background-color: #35a440;
        color: #ffffff;
        text-align: center; }
    .page .faq_item .collapse_block {
      text-align: left; }
      .page .faq_item .collapse_block p {
        padding: 20px;
        font-size: 14px;
        line-height: 22px;
        color: #6e7383;
        font-weight: 300;
        text-align: left; }
        .page .faq_item .collapse_block p svg {
          width: 7px;
          height: 11px; }
  .page .news_item {
    margin-bottom: 80px;
    position: relative;
    text-align: left; }
    .page .news_item:before {
      position: absolute;
      content: "";
      width: 100%;
      height: 1px;
      background-color: #35a440;
      left: 0;
      bottom: -10px; }
    .page .news_item:last-child {
      margin-bottom: 0; }
    .page .news_item .title {
      padding-bottom: 20px; }
      .page .news_item .title p.name {
        display: inline-block;
        font-size: 22px;
        font-weight: 700;
        float: left; }
      .page .news_item .title span {
        display: inline-block;
        float: right;
        font-size: 14px;
        font-weight: 300;
        line-height: 32px; }
    .page .news_item img {
      width: 400px;
      height: 300px;
      -webkit-background-size: cover;
      background-size: cover;
      display: inline-block;
      vertical-align: top;
      margin-right: 30px;
      margin-top: 15px;
      border: 2px solid #1c1c1c; }
    .page .news_item .left_side {
      display: inline-block;
      width: 700px;
      vertical-align: top; }
  .page .reviews .review_item {
    text-align: left;
    width: 60%;
    margin: 50px auto;
    border: 1px solid #35a440;
    padding: 20px; }
    .page .reviews .review_item:last-child {
      margin-bottom: 0; }
    .page .reviews .review_item img {
      display: inline-block;
      width: 100px;
      height: 100px;
      -webkit-background-size: cover;
      background-size: cover;
      vertical-align: top;
      margin-right: 30px; }
    .page .reviews .review_item .left_side {
      width: 80%;
      display: inline-block; }
      .page .reviews .review_item .left_side .title p.name {
        float: left;
        display: inline-block;
        font-size: 22px;
        font-weight: 700; }
      .page .reviews .review_item .left_side .title span {
        display: inline-block;
        float: right;
        font-size: 14px;
        font-weight: 300;
        line-height: 32px; }
      .page .reviews .review_item .left_side p.text {
        color: #1c1c1c;
        font-size: 15px;
        line-height: 25px;
        padding: 8px 0;
        text-align: left; }

form {
  width: 40%;
  margin: 0 auto; }
  form textarea {
    font-size: 14px;
    color: #1c1c1c;
    width: 100%;
    padding: 10px;
    height: 100px;
    border-radius: 5px;
    border: 1px solid #cccccc; }
  form input[type='file'] {
    font-size: 14px;
    color: #1c1c1c;
    text-align: center;
    margin: 20px auto; }
  form input[type='text'],
  form input[type='email'],
  form input[type='password'] {
    font-size: 14px;
    color: #1c1c1c;
    width: 100%;
    padding: 10px;
    border-radius: 5px;
    border: 1px solid #cccccc; }
  form input[type='checkbox'] {
    margin-right: 10px; }
  form input[type='submit'] {
    background-color: #35a440;
    font-size: 16px;
    color: #ffffff;
    font-weight: 700;
    text-transform: uppercase;
    text-align: center;
    margin: 0 auto;
    padding: 15px 30px;
    line-height: 14px;
    border: 2px solid #ffffff;
    border-radius: 25px;
    -webkit-transition: 0.5s all;
    -moz-transition: 0.5s all;
    -o-transition: 0.5s all;
    transition: 0.5s all; }
    form input[type='submit']:hover {
      border: 2px solid #35a440;
      color: #35a440;
      background-color: #ffffff; }

.input_block {
  width: 100%;
  text-align: left;
  margin: 30px 0; }
  .input_block label {
    font-size: 16px;
    color: #1c1c1c;
    font-weight: 300;
    margin-bottom: 10px;
    float: left;
    padding: 10px 0; }
    .input_block label a {
      display: inline-block;
      font-size: 16px;
      position: relative;
      color: #113065;
      -webkit-transition: 0.3s all;
      -moz-transition: 0.3s all;
      -o-transition: 0.3s all;
      transition: 0.3s all; }
      .input_block label a:after {
        position: absolute;
        content: "";
        width: 100%;
        height: 1px;
        background-color: #113065;
        left: 0;
        bottom: -5px; }
      .input_block label a:hover {
        opacity: 0.7; }
  .input_block .no_float {
    float: none; }
  .input_block input[type='text'],
  .input_block input[type='email'],
  .input_block input[type='password'] {
    width: 50%;
    float: right;
    overflow: hidden;
    white-space: nowrap;
    text-overflow: ellipsis; }

.input_block.tac {
  text-align: center; }

.btns {
  margin: 20px 0 0; }
  .btns a {
    display: inline-block;
    font-size: 14px;
    position: relative;
    color: #113065;
    -webkit-transition: 0.3s all;
    -moz-transition: 0.3s all;
    -o-transition: 0.3s all;
    transition: 0.3s all; }
    .btns a:after {
      position: absolute;
      content: "";
      width: 100%;
      height: 1px;
      background-color: #113065;
      left: 0;
      bottom: -5px; }
    .btns a:hover {
      opacity: 0.7; }
      .btns a:hover::after {
        opacity: 0.7; }
    .btns a:first-child {
      float: left; }
    .btns a:nth-child(2) {
      float: right; }

.header_cabinet {
  background: url("/images/zvez.jpg") center center no-repeat;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover; }

header.header_cabinet {
  text-align: center; }
  header.header_cabinet nav ul li a {
    color: #ffffff; }
    header.header_cabinet nav ul li a:hover {
      color: #00ff00; }
  header.header_cabinet p.title {
    padding: 20px; }
  header.header_cabinet p.balance {
    font-size: 50px;
    font-weight: 400;
    color: #ffffff;
    text-align: center; }
    header.header_cabinet p.balance svg {
      width: 30px;
      height: 36px;
      fill: #ffffff; }
    header.header_cabinet p.balance span {
      font-size: 16px;
      text-transform: uppercase;
      display: block; }
  header.header_cabinet ul.cabinet_menu {
    margin: 50px auto;
    background: rgba(255, 255, 255, 0.6);
    border-radius: 50px; }
    header.header_cabinet ul.cabinet_menu li a {
      color: #1c1c1c; }
      header.header_cabinet ul.cabinet_menu li a:hover {
        color: #00ff00; }
    header.header_cabinet ul.cabinet_menu li .active {
      color: #00ff00; }

.page_cabinet {
  text-align: center;
  padding: 70px 0; }
  .page_cabinet p.info {
    font-size: 16px;
    font-weight: 400;
    color: #1c1c1c;
    padding-bottom: 40px; }
    .page_cabinet p.info b {
      font-weight: 500; }
  .page_cabinet table.cab_main {
    width: 100%; }
    .page_cabinet table.cab_main tr td {
      border: 1px solid #cccccc;
      border-collapse: collapse;
      font-size: 16px;
      color: #1c1c1c;
      padding: 5px 0; }
      .page_cabinet table.cab_main tr td svg {
        fill: #1c1c1c;
        width: 12px;
        height: 12px; }
      .page_cabinet table.cab_main tr td b svg {
        width: 100px;
        height: 50px; }
    .page_cabinet table.cab_main tr.table_head {
      background-color: #35a440; }
      .page_cabinet table.cab_main tr.table_head td span {
        display: block;
        color: #ffffff;
        padding: 10px 0; }
  .page_cabinet .cabinet_left__side {
    width: 100%;
    background-color: #35a440;
    padding: 10px;
    margin-bottom: 50px; }
    .page_cabinet .cabinet_left__side p.name {
      font-size: 16px;
      font-weight: 400;
      color: #ffffff; }
    .page_cabinet .cabinet_left__side .ps {
      background-color: #ffffff;
      padding: 10px;
      margin: 10px 0; }
      .page_cabinet .cabinet_left__side .ps b {
        font-weight: 300;
        font-size: 16px;
        color: #1c1c1c;
        display: inline-block;
        float: left;
        line-height: 14px; }
        .page_cabinet .cabinet_left__side .ps b svg {
          width: 30px;
          height: 30px; }
        .page_cabinet .cabinet_left__side .ps b span {
          vertical-align: top;
          margin: 8px 0 8px 8px;
          display: inline-block; }
      .page_cabinet .cabinet_left__side .ps i {
        display: inline-block;
        float: right;
        font-size: 16px;
        color: #1c1c1c;
        font-weight: 300;
        font-style: normal;
        line-height: 14px; }
        .page_cabinet .cabinet_left__side .ps i span {
          vertical-align: top;
          margin: 8px 0 8px 8px;
          display: inline-block; }
        .page_cabinet .cabinet_left__side .ps i svg {
          width: 12px;
          height: 12px;
          fill: #1c1c1c;
          margin-top: 9px; }
      .page_cabinet .cabinet_left__side .ps:last-child {
        margin-bottom: 0; }
  .page_cabinet .cabinet_right__side {
    width: 100%; }
    .page_cabinet .cabinet_right__side form {
      width: 70%; }
      .page_cabinet .cabinet_right__side form .form_input {
        margin: 15px 0; }
        .page_cabinet .cabinet_right__side form .form_input label {
          font-size: 16px;
          width: 35%;
          color: #1c1c1c;
          font-weight: 400;
          display: inline-block; }
        .page_cabinet .cabinet_right__side form .form_input select {
          font-size: 14px;
          color: #1c1c1c;
          width: 60%;
          padding: 10px;
          border-radius: 5px;
          border: 1px solid #cccccc;
          display: inline-block; }
        .page_cabinet .cabinet_right__side form .form_input input[type='text'] {
          width: 60%; }
        .page_cabinet .cabinet_right__side form .form_input:first-child {
          margin-top: 0; }
      .page_cabinet .cabinet_right__side form input[type='submit'] {
        margin-top: 20px; }
  .page_cabinet .textbox {
    border: 1px solid #35a440;
    padding: 10px;
    width: 40%;
    margin: 0 auto 20px; }
    .page_cabinet .textbox b {
      font-weight: 300;
      font-size: 16px;
      float: left; }
    .page_cabinet .textbox i {
      font-style: normal;
      font-size: 16px;
      font-weight: 300;
      color: #113065;
      float: right; }
  .page_cabinet .mgb {
    margin-bottom: 60px; }
  .page_cabinet form.wallets .wallet_row {
    padding: 10px 0; }
    .page_cabinet form.wallets .wallet_row label {
      font-size: 16px;
      color: #1c1c1c;
      font-weight: 300;
      display: inline-block;
      float: left;
      margin-right: 20px;
      margin-bottom: 0;
      padding: 10px 0; }
    .page_cabinet form.wallets .wallet_row input,
    .page_cabinet form.wallets .wallet_row select {
      float: right;
      width: 50%;
      overflow: hidden;
      white-space: nowrap;
      text-overflow: ellipsis;
      font-size: 14px;
      color: #1c1c1c;
      padding: 10px;
      border-radius: 5px;
      border: 1px solid #cccccc; }
  .page_cabinet form.wallets input[type='submit'] {
    margin-top: 40px;
    float: none;
    display: block; }

a.submit_link {
  display: inline-block;
  background-color: #35a440;
  font-size: 16px;
  color: #ffffff;
  font-weight: 700;
  text-transform: uppercase;
  text-align: center;
  margin: 20px auto;
  padding: 15px 30px;
  line-height: 14px;
  border: 2px solid #ffffff;
  border-radius: 25px;
  -webkit-transition: 0.5s all;
  -moz-transition: 0.5s all;
  -o-transition: 0.5s all;
  transition: 0.5s all; }
  a.submit_link:hover {
    border: 2px solid #35a440;
    color: #35a440;
    background-color: #ffffff; }

/*# sourceMappingURL=style.css.map */
